backports.functools-lru-cache==1.5
caniusepython3==6.0.0
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
distlib==0.2.6
enum34==1.1.6
flake8==3.5.0
future==0.16.0
futures==3.2.0
idna==2.6
mccabe==0.6.1
packaging==17.1
pycodestyle==2.3.1
pyflakes==1.6.0
pyparsing==2.2.0
requests==2.18.4
six==1.11.0
urllib3==1.22
